{% load static %}
<div class="container-fluid p-0">
    <div class="px-lg-5" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg navbar-dark py-3 py-lg-0 pl-3 pl-lg-5" style="background-color: rgba(0, 0, 0, 0.6); width: 100%; padding-right: 0; padding-left: 0;">
            <!-- Logo Image -->
            <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
                <img src="{% static 'img/logo.png' %}" alt="Royal Cars Logo" class="img-fluid" style="max-height: 75px;">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'services' %}" class="nav-item nav-link">Services</a>
                    <a href="{% url 'cardetails' %}" class="nav-item nav-link">Catalogue</a>
                    <a href="{% url 'team_view' %}" class="nav-item nav-link">Our Team</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact Us</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">
                        <i class="fas fa-sign-in-alt mr-3" style="color: #0a0a11"></i> Admin
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
