{% load static %}
<div class="container-fluid py-3 px-lg-5 d-none d-lg-block" style="background-color: cadetblue">
    <div class="row">
        <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center">
                <a class="text-body pr-3" href="" style="color: white;">
                    <i class="fa fa-phone-alt mr-2" style="color: white;"></i>+254 792 301 914
                </a>
                <span class="text-body" style="color: white;">|</span>
                <a class="text-body px-3" href="" style="color: white;">
                    <i class="fa fa-envelope mr-2" style="color: white;"></i>info@royalcars.com
                </a>
            </div>
        </div>
        <div class="col-md-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-body px-3" href="" style="color: white;">
                    <i class="fab fa-facebook-f" style="color: white;"></i>
                </a>
                <a class="text-body px-3" href="" style="color: white;">
                    <i class="fab fa-twitter" style="color: white;"></i>
                </a>
                <a class="text-body px-3" href="" style="color: white;">
                    <i class="fab fa-linkedin-in" style="color: white;"></i>
                </a>
                <a class="text-body px-3" href="" style="color: white;">
                    <i class="fab fa-instagram" style="color: white;"></i>
                </a>
                <a class="text-body pl-3" href="" style="color: white;">
                    <i class="fab fa-youtube" style="color: white;"></i>
                </a>
            </div>
        </div>
    </div>
</div>
