{% extends 'main.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Car Booking Records</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Car</th>
                <th>Customer</th>
                <th>Phone Number</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Amount</th>
                <th>Deposit</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.car.name }}</td>
                    <td>{{ booking.name }}</td>
                    <td>{{ booking.phone_number }}</td>
                    <td>{{ booking.start_date }}</td>
                    <td>{{ booking.end_date }}</td>
                    <td>{{ booking.total_amount }}</td>
                    <td>{{ booking.deposit }}</td>
                    <td>{{ booking.status}} at {{ booking.transaction_time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
